---
layout: layout-page.njk
title: Dragon Age Wiki
description: Blogs Sobre Arquetipos de Yu-gi-oh!
---

<h1>{{ title }}</h1>
<p>
<b><i>Dragon Age</i></b> es una serie de juegos de rol desarrollada por BioWare. Cada entrega te sumerge en un mundo medieval oscuro llamado Thedas, donde los humanos, elfos, enanos y otras razas luchan por el poder y la supervivencia. La magia, los dragones y los conflictos religiosos son parte integral de esta rica narrativa.
</p>

<p>
En esta wiki compartire datos y lore de los personajes.
</p>

<div>
  <img src="/img/Dragon.png" alt="Eleventy">
</div>





<hr>
<h2>{{ site.message }}</h2>
<p>
  Para sacarle mayor provecho a este <i>starter project</i>, te sugiero revisar los siguientes enlaces:
</p>
<ul>
  {% for link in site.linksDoc %}
    <li>
      <a href="{{ link.url }}" target="_blank">{{ link.text | safe }}</a>
    </li>
  {% endfor %}
</ul>